#submit_button
{
    margin-top: 20px;
    margin-bottom: 20px;
}
#sort_button
{
    display: none;
    margin-top: 20px;
    margin-bottom: 20px;
}
input
{
    margin: 10px;
}
#display_names_w_commas
{
	border: 1px solid green;
    padding: 10px;
	background-color: greenyellow;
	border-radius: 10px;
    width: 50%;
}
#display_names_wo_commas
{
	border: 1px solid red;
    padding: 10px;
    background-color: lightcoral;
	border-radius: 10px;
    width: 50%;
}